.n-left{
    background-color: aqua;
}
.n-right{
    background-color: blue;
}
.mini1{
    background-color: blueviolet;
}
.mini2{
    background-color: green
}
.mini3{
    background-color: yellow
}
.mini4{
    background-color: orange
}
.first{
    background-color: red;
}
